* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #f2f2f2;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ff6f00;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: right;
}
.search-container {
    display: inline-block;
    margin-left: 20px;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    background-color: #707984;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6f00;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.stock-content img {
    float: left;
    padding: 20px;
    height: 200px;
    width: 300px;
    margin-left: -200px;
    /* display: flex;
    text-align: left;
    align-items: flex-start; */
}
p{
    text-align: justify;
}

.stock-content p {
    font-size: 1rem;
    color: #555;
}
