* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #f2f2f2;
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    text-align: right;
    cursor: pointer;
}
.search-container {
    display: inline-block;
    margin-left: 20px;
}

.search-container input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    padding: 5px 10px;
    border: none;
    background-color: #707984;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff6f00;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
}
marquee{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: red;
}

.stock-content img {
    float: left;
    padding: 20px;
    height: 200px;
    width: 300px;
    margin-left: -200px;
}

#fetchButton{
    cursor: pointer;
}
#plot{
    margin-left: -200px;
    height: 400px;
    width: 1000px;
}
#vid{
    float: right;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

#logo{
    width: 300px;
    height: 100px;
    border: #333 solid 1px;
    border-radius: 500px;
}
Para2{
    margin-right: +200px;
}
.Para, .Para2{
    font-size: 20px;
    text-align: justify;
    margin-left: -200px;
    margin-right: -200px;
    font-family: cursive;
}

